.sidebar {
  width: 44px;
  height: 480px;
  position: fixed;
  right: 20px;
  top: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.switcher {
  height: 165px;
  width: 100%;
  border-radius: 32px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 2px solid rgb(210, 205, 205);
}

.switcher div {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  border-radius: 32px;
  writing-mode: vertical-lr;
  text-orientation: mixed;
  cursor: pointer;
  font-family: cursive;
  transition: background-color 0.4s ease, color 0.3s ease;
  transform-origin: left center;
}

.switcher div span {
  font-family: "Bitter", serif;
  transform: rotate(180deg);
}

.switcher div.active {
  background-color: rgba(113, 114, 211, 1);
  color: white;
}

.switcher div.inactive {
  background-color: white;
  color: black;
}

.scroller {
  width: 30px;
  height: 270px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}

.scroller div.info {
  font-size: 18px;
  font-weight: 600;
  transform: rotate(180deg);
  writing-mode: vertical-lr;
}

.scroller div.line {
  height: 134px;
  border-radius: 4px;
  background-color: rgb(210, 201, 201);
  overflow: hidden;
  position: relative;
}

.inner-div {
  height: 24.24px;
  border: 2.3px solid #888aff;
  border-radius: 4px;
  background-origin: border-box;
  background-clip: content-box, border-box;
  transition: border 0.4s ease;
  transform: translateY(0);
}

.mobile-view {
  width: 35px;
  height: 74px;
  position: fixed;
  right: 25px;
  top: 60%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  border: 1px solid #2d446a;
  border-radius: 17.4px;
  padding: 0.4rem;
  margin-top: 30%;
}

.mobile-view .btn {
  width: 21px;
  height: 21px;
}

.mobile-view .moon {
  width: 21px;
  height: 21px;
}

.mobile-view .sun {
  width: 21px;
  height: 21px;
}

.mobile-view .dark {
  transform: translateY(2px);
  transition: transform 0.3s ease;
}

.mobile-view .light {
  transform: translateY(-2px);
  transition: transform 0.3s ease;
}
